<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlueOcean</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="company">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Company
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="boats">
                <span class="oi oi-briefcase" aria-hidden="true"></span>Available Boats
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balance">
                <span class="bi bi-currency-dollar" aria-hidden="true"></span> Balance
            </NavLink>
        </div>
    </nav>
</div>
