@inject TraderApiClient ApiClient


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">BlueOcean</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myboat">My Boat</a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link" href="/marketplace">Market Place</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/game-strategy">Best Contracts!!!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mycontracts">My Contracts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/balance">Balance: @(balance?.ToString("C") ?? "Loading...")</a>
            </li>
            <ul>
                <li>@_notification</li>
            </ul>
        </ul>
    </div>
</nav>

@code {
    private double? balance;

    protected override async Task OnInitializedAsync()
    {
        await LoadCompanyBalance();

        var signalRClient = new SignalRClient();
        await signalRClient.InitializeAsync();

        signalRClient.OnMessageReceived += message =>
        {
            _notification = message;
            InvokeAsync(StateHasChanged);
        };

    }

    private async Task LoadCompanyBalance()
    {
        try
        {
            var companyData = await ApiClient.GetCompanyAsync();
            balance = companyData.Cash;
        }
        catch (Exception ex)
        {
            ApiClient.ShowErrorMessage($"Error fetching company balance: {ex.Message}");
            balance = null;
        }
    }


    private string _notification = " SignalR..!";

}

