@inject TraderApiClient ApiClient


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">BlueOcean</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/company">Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/boats">Available Boats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/balance">Balance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myboat">My Boat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/move-boat">Move Boat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fuel-boat">Fuel Boat</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/balance">Balance: @(balance?.ToString("C") ?? "Loading...")</a>
            </li>
        </ul>
    </div>
</nav>

@code {
    private double? balance;

    protected override async Task OnInitializedAsync()
    {
        await LoadCompanyBalance();
    }

    private async Task LoadCompanyBalance()
    {
        try
        {
            var companyData = await ApiClient.GetCompanyAsync();
            balance = companyData.Cash;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching company balance: {ex.Message}");
            balance = null;
        }
    }
}

