<!-- Components/FuelBoat.razor -->
@page "/fuel-boat"
@inject TraderApiClient ApiClient

<PageTitle>Fuel Boat</PageTitle>

<h3>Fuel Boat</h3>

<div>
    <label for="boatId">Boat ID: </label>
    <input type="text" id="boatId" @bind="boatId" />
</div>
<div>
    <label for="amount">Fuel Amount: </label>
    <input type="number" id="amount" @bind="amount" />
</div>
<button @onclick="FuelBoatt">Fuel Boat</button>

@if (fuelResult != null)
{
    <p>Fuel Result: @fuelResult</p>
}

@code {
    private string boatId;
    private int amount;
    private double? fuelResult;

    private async Task FuelBoatt()
    {
        fuelResult = await ApiClient.FuelBoatAsync( boatId, amount);
    }
}
