@page "/"
@rendermode InteractiveServer



<link href="basic.css" rel="stylesheet" />



<div class="home-container">

    <main class="main-actions">
        <div class="action-card" @onclick="NavigateToMyBoats">
            <img src="Images/view-boats.png" alt="View Boats">
            <h3>View My Boats</h3>
        </div>
        <div class="action-card" @onclick="NavigateToGame">
            <img src="images/new-contracts.png" alt="Handel Contracts">
            <h3>Play Game</h3>
        </div>
        <div class="action-card" @onclick="NavigateToAvailableContracts">
            <img src="images/new-contracts.png" alt="Available-contracts">
            <h3>Available-contracts</h3>
        </div>
        <div class="action-card" @onclick="NavigateTostrategy">
            <img src="images/thinking.png" alt="Best Contracts!">
            <h3>Best Contracts</h3>
        </div>
        <div class="action-card" @onclick="NavigateToMarketplace">
            <img src="images/browse-marketplace.png" alt="Browse Marketplace">
            <h3>Browse Marketplace</h3>
        </div>
    </main>
</div>

@code {
    private void NavigateToMyBoats()
    {

        NavigationManager.NavigateTo("/myboat");
    }

    private void NavigateToGame()
    {

        NavigationManager.NavigateTo("/mycontracts");
    }

    private void NavigateToAvailableContracts()
    {

        NavigationManager.NavigateTo("/available-contracts");
    }

    private void NavigateToMarketplace()
    {
        NavigationManager.NavigateTo("/marketplace");
    }

    private void NavigateTostrategy()
    {
        NavigationManager.NavigateTo("/game-strategy");
    }


    [Inject] NavigationManager NavigationManager { get; set; }
}
