<!-- Components/MoveBoat.razor -->
@page "/move-boat"
@inject TraderApiClient ApiClient

<PageTitle>Move Boat</PageTitle>

<h3>Move Boat</h3>

<div>
    <label for="boatId">Boat ID: </label>
    <input type="text" id="boatId" @bind="boatId" />
</div>
<div>
    <label for="nodeId">Move to Node: </label>
    <input type="number" id="nodeId" @bind="nodeId" />
</div>
<button @onclick="MoveBoatt">Move Boat</button>

@if (moveResult != null)
{
    <p>Move Result: @moveResult</p>
}

@code {
    private string boatId;
    private int nodeId;
    private bool? moveResult;

    private async Task MoveBoatt()
    {
        moveResult = await ApiClient.MoveBoatAsync( boatId, nodeId);
    }
}
